.nav-link {
    @apply relative text-secondary text-sm ;
  }
  
  .mobil-nav-link{
    @apply relative text-secondary text-sm ;
  }
.active {
  color: black;
  font-weight: 700;
  border-bottom: 4px solid black;
  padding-bottom: 40px;
}

@media (max-width: 1025px) { 
  .active {
    border-bottom: none; 
    padding-bottom: 0; 
  }
}
